@model FoodModule


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Opret et madhold</h1>
    <div>
        @using (Html.BeginForm("CreateFoodModule", "Course"))
        {
            @Html.LabelFor(fm => fm.Name)
            @Html.EditorFor(fm => fm.Name)
            <br />
            @Html.LabelFor(fm => fm.Location)
            @Html.EditorFor(fm => fm.Location)
            <br />
            @Html.LabelFor(fm => fm.Capacity)
            @Html.EditorFor(fm => fm.Capacity)
            <br />
            @Html.LabelFor(fm => fm.Name)
            @Html.EditorFor(fm => fm.Name)
            <br />
            @Html.LabelFor(fm => fm.StartTime)
            @Html.EditorFor(fm => fm.StartTime)
            <br />
            @Html.LabelFor(fm => fm.EndTime)
            @Html.EditorFor(fm => fm.EndTime)
            <br />
            @Html.LabelFor(fm => fm.CourseModule)
            @Html.DisplayFor(fm => fm.CourseModule)
            <br />
           //// @Html.LabelFor(fm => fm.Date)
            @Html.DisplayFor(fm => fm.Date)



            //<br />
            //@Html.LabelFor(fm => fm.CourseModule)
           // @(": ")
           // @Html.DisplayFor(fm => fm.CourseModule.Name)


            <br />
            ////@Html.LabelFor(fm => fm.Teacher)
            @(": ") 
            //@Html.DisplayFor(fm => fm.Teacher.Name)

            <br />
            <input type="submit" value="Opret" />
        }

    </div>
</body>
</html>
