@model List<Course>
@{
    var selectedCourseId = ViewBag.SelectedCourseId as int?;
}

<link rel="stylesheet" href="/Content/CourseOverviewStyles.css" />

<h1>Hold oversigt</h1>

<!-- Get all courses -->
<ul id="courseList">
    @foreach (var course in Model)
    {
        <li>
            <div>
                <!-- Form to toggle course details -->
                <form id="detail-form-@course.Id" asp-action="CourseOverview" method="get">
                    <input type="hidden" name="selectedCourseId" value="@(selectedCourseId == course.Id ? string.Empty : course.Id.ToString())" />
                    @course.Name
                    <button type="submit" class="detail-button">
                        @if (selectedCourseId == course.Id)
                        {
                            @Html.Raw("&#9650;") <!-- Up arrow when expanded -->
                        }
                        else
                        {
                            @Html.Raw("&#9660;") <!-- Down arrow when collapsed -->
                        }
                    </button>
                </form>
            </div>

            @if (selectedCourseId == course.Id)
            {
                <div class="course-details">
                    <h4>@course.Name</h4>

                    <p><b>Start:</b> @course.StartDate.ToString("dd-MM-yyyy")</p>
                    <p><b>Slut:</b> @course.EndDate.ToString("dd-MM-yyyy")</p>
                    <p><b>Beskrivelse:</b> @course.Description</p>
                    <p><b>Maksimum antal deltagere:</b> @course.MaxCapacity</p>

                    <!-- Update -->
                    @using (Html.BeginForm("UpdateCourse", "Course", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@course.Id" />
                        <button type="submit" class="toggle-button">Rediger hold</button>
                    }

                    <!-- Delete -->
                    @using (Html.BeginForm("DeleteCourse", "Course", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@course.Id" />
                        <button type="submit" class="toggle-button">Slet hold</button>
                    }
                </div>
            }
        </li>
    }
</ul>

<h1>Opret hold</h1>
<!-- Create new course -->
@using (Html.BeginForm("CreateCourse", "Course", FormMethod.Post, new { @class = "create-form" }))
{
    <div class="create-group">
        <label class="create-label" for="Name">Kursusnavn:</label>
        <input class="create-input" type="text" id="Name" name="Name" required />
    </div>

    <div class="create-group">
        <label class="create-label" for="Description">Beskrivelse:</label>
        <textarea class="create-input" id="Description" name="Description" required></textarea>
    </div>

    <div class="create-group">
        <label class="create-label" for="Teacher">Lærer:</label>
        <input class="create-input" type="text" id="Teacher" name="Teacher.Name" required />
    </div>

    <div class="create-group">
        <label class="create-label" for="StartDate">Startdato:</label>
        <input class="create-input" type="date" id="StartDate" name="StartDate" required />
    </div>

    <div class="create-group">
        <label class="create-label" for="EndDate">Slutdato:</label>
        <input class="create-input" type="date" id="EndDate" name="EndDate" required />
    </div>

    <div class="create-group">
        <label class="create-label" for="MaxCapacity">Maksimal kapacitet:</label>
        <input class="create-input" type="number" id="MaxCapacity" name="MaxCapacity" min="1" required />
    </div>

    <div class="create-group">
        <button class="create-button" type="submit">Opret nyt hold</button>
    </div>

    

        <input type="button" onclick="test(this)" value="Opret madhold" id="testBtn" />
}




<div>
    <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Opret madhold</h4>
    </div>

    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closeBtn">×</button>
                <div id='myModalContent'></div>
                <button type="button" class="close" id="opretBtn">Opret</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        function test(element) {
            var options = { "backdrop": "static", keyboard: true };

            $.ajax({
                type: "GET",
                url: '/Food/ModalWindow',
                success: function (data) {
                    $('#myModalContent').html(data);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });

            $(".close").click(function () {
                $('#myModal').modal('hide');
            });

            $("#closeBtn").click(function () {
                @{ //Trykker man på krydset oprettes en ny foodmodule, for at 'cleare' felterne
                    Session["fm"] = new FoodModule();
              }
            });
        }

    </script>
