@model List<Course>
@{
    var selectedCourseId = ViewBag.SelectedCourseId as int?;
}

<h1>Hold oversigt</h1>

<ul id="courseList">
    @foreach (var course in Model)
    {
        <li>
            <div>
                <form asp-action="CourseOverview" method="get">
                    <input type="hidden" name="selectedCourseId" value="@course.Id"/>
                    @course.Name <button type="submit">&#9660;</button> <!-- down arrow -->
                </form>
            </div>

            @if (selectedCourseId == course.Id)
            {
                <div class="course-details">
                    <h4>@course.Name</h4>

                    <!-- <p><b>Underviser:</b> @course.Teacher.Name</p>  fix this -->

                    <p>
                        <b>Start:</b> @course.StartDate.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        <b>Slut:</b> @course.EndDate.ToString("dd-MM-yyyy")
                    </p>
                    <p>
                        <b>Beskrivelse:</b> @course.Description
                    </p>
                    <p>
                        <b>Maksimum antal deltagere:</b> @course.MaxCapacity
                    </p>

                    <!-- Update -->
                    @using (Html.BeginForm("UpdateCourse", "Course", FormMethod.Post))
                    {
                        <input type="hidden" name="Id" value="@course.Id"/>
                        <button type="submit">Rediger hold</button>
                    }
                    <!-- måske dette kunne være en idé?? -->

                    <!-- Delete -->
                    @using (Html.BeginForm("DeleteCourse", "Course", FormMethod.Post))
                    {
                    <input type="hidden" name="Id" value="@course.Id"/>
                    <button type="submit">Slet hold</button>
                    }
                </div>
            }
        </li>
    }
</ul>

<!-- Create -->
@using (Html.BeginForm("CreateCourse", "Course", FormMethod.Post))
{
<div>
    <label for="Name">Kursusnavn:</label>
    <input type="text" id="Name" name="Name" required/>
</div>

<div>
    <label for="Description">Beskrivelse:</label>
    <textarea id="Description" name="Description" required></textarea>
</div>

<div>
    <label for="Teacher">Lærer:</label>
    <input type="text" id="Teacher" name="Teacher.Name" required/>
</div>

<div>
    <label for="StartDate">Startdato:</label>
    <input type="date" id="StartDate" name="StartDate" required/>
</div>

<div>
    <label for="EndDate">Slutdato:</label>
    <input type="date" id="EndDate" name="EndDate" required/>
</div>

<div>
    <label for="MaxCapacity">Maksimal kapacitet:</label>
    <input type="number" id="MaxCapacity" name="MaxCapacity" min="1" required/>
</div>

<button type="submit">Opret nyt hold</button>
}