@model SchoolBytes.DTO.CourseCourseModule
@{
    ViewBag.Title = "ParticipantView";
}

<h2>ParticipantView</h2>


<h1>Opret Tilmelding</h1>
<form id="create-form" action="course/74/30/tilmeld" method="post">
    <div class="participant-group">
        <label class="participant-label" for="Name">Navn:</label>
        <input class="participant-input" type="text" id="Name" name="Name" required />
    </div>

    <div class="participant-group">
        <label class="participant-label" for="PhoneNumber">Telefon nummer:</label>
        <input class="participant-input" type="text" id="PhoneNumber" name="PhoneNumber" required />
    </div>

    <div class="participant-group">
        <label class="participant-label" for="Course">Hold:</label>
        <select asp-for="Id" class="select-course">
            <option value="">Vælg et hold</option>
            @foreach (var course in Model.Courses)
            {
                <option value="@course.Id">@course.Name </option>

            }
        </select>
    </div>

    <div class="participant-group">
        @foreach (var course in Model.Courses)
        {
            <div class="coursemodules-group" id="course-@course.Id">
                <h4>Modules for @course.Name</h4>
                @foreach (var module in course.CoursesModules)
                {
                    <div class="module">
                        <input type="checkbox" asp-for="CourseModule.isSelected" value="@module.Id" />
                        <label for="@module.Id">@module.Name</label>
                    </div>
                }
            </div>
        }
    </div>

    <div class="participant-group">
        <button class="participant-button" type="submit">Opret ny tilmelding</button>
    </div>
</form>